@import "../../styles/_mixins.pcss";

.container {
    @mixin flexbox;

    width: 100%;
    height: 100%;
}

.input {
    margin-bottom: 16px;
}

.password {
    margin-bottom: 86px;
}

.signUp {
    margin-bottom: 16px;
}